@tailwind base;
@tailwind components;
@tailwind utilities;


h5{
    font-weight: 700;
    
    
}

p{
    font-size: 16px; 
    font-weight: 400;
}

.bg-Slate-Grey{
    background-color: rgb(	39, 41, 63);
}

.bg-Tomato{
    background-color: rgb(255, 98, 87);
}


.hover\:bg-tomato-800:hover{
    background-color: rgb(255 98 87 / var(--tw-bg-opacity));
}